@use '@styles/color.scss' as *;
@use '@styles/sizes.scss' as *;
@use '@styles/button.scss' as *;

// color-mapping
@each $color, $shades in $color-map {
  @each $index, $value in $shades {
    // background color class
    .bg-#{"#{$color}"}-#{$index} {
      background: $value;
    }

    // text color class
    .text-#{"#{$color}"}-#{$index} {
      color: $value;
    }

    .border-#{"#{$color}"}-#{$index} {
      border-color: $value;
    }
  }
}

.block {
  padding: 16px 20px;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  font-weight: 500;
}

// Shape
.box {
  border-radius: 0;
}

.rounded {
  border-radius: 10px;
}

// size
.small {
  padding: $small;
  font-size: 16px;
}

.medium {
  padding: $medium;
  font-size: 18px;
}

.large {
  padding: $large;
  font-size: 20px;
}

// black color
.bg-black {
  background: $black;
}

.text-black {
  color: $black;
}

.border-black {
  border-color: $black;
}

// white color
.bg-white {
  background: $white;
}

.text-white {
  color: $white;
}

.border-white {
  border-color: $white;
}

// shadow
.light {
  box-shadow: 2px 2px 4px rgba($color: #000, $alpha: 0.3);
}

.heavy {
  box-shadow: 2px 2px 4px rgba($color: #000, $alpha: 0.7);
}