@use '@styles/color.scss' as color;

// Default
@mixin hover {
  background: color.$blue_4;
  border: 1px solid color.$blue_4;
  color: color.$white;
}

@mixin disabled {
  background: color.$blue_1;
  color: color.$blue_3;
  cursor: default;
  border: 1px solid color.$blue_1;
}

@mixin active {
  background: color.$blue_2;
  color: color.$blue_4;
  border: 1px solid color.$blue_2;
}

// Outline
@mixin outline-hover {
  background: color.$blue_5;
  border: 1px solid color.$blue_5;
  color: color.$white;
}

@mixin outline-active {
  background: color.$blue_2;
  border: 1px solid color.$blue_2;
  color: color.$blue_9;
}