@use '@styles/color.scss' as color;

.backdrop {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000, $alpha: 0.5);
}

.block {
  background: color.$white;
  z-index: 100;
  min-width: 20px;
  min-height: 20px;
  border: 0.1px solid #ccc;
  border-radius: 4px;
}

.position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadow {
  box-shadow: 2px 2px 4px rgba($color: #000, $alpha: 0.7);
}